<h1>Formulario</h1>
<!-- #myForm="ngForm" para ponerle validaciones -->
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre: </label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email: </label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password: </label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensajes de error</p>
  </div>
  <!-- [disabled]="myForm.invalid" -> Obliga a que sea valido el formulario, y como todos los campos son requeridos, no se activará si alguno no esta lleno -->
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr/>
<h3>NgClass &  NgStyle</h3>
<input type="text" required #nameDeveloperInput4="ngModel" [(ngModel)]="personDeveloper.name">
<!-- <p class="message-error" [class.invalid]="nameDeveloperInput4.invalid">El campo se requiere</p> -->
<!-- [ngClass] ->Permite utilizar varias clases de acuerdo a lo que deseemos -->
<hr class="line-error"
  [ngClass]="{
    'valid': nameDeveloperInput4.valid,
    'invalid': nameDeveloperInput4.invalid
  }"
  />
<p class="message-error" [class.invalid]="nameDeveloperInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <!-- Estos permiten que las variables entren en tipo number y tipo color(paleta de colores) -->
    <p>Ancho: </p>
    <input type="number" [(ngModel)]="box.width">
    <p>Alto: </p>
    <input type="number" [(ngModel)]="box.height">
    <p>Color: </p>
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <!-- Agrega un estilo, con esos valores, y como arriba lo modifica, se puede cambiar al mismo tiempo que se va modificando -->
    <div [ngStyle]="{
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background,
      'display':'block'
    }"></div>
  </div>
</div>

<h2>Class & Style</h2>
<input type="text" required #nameDeveloperInput2="ngModel" [(ngModel)]="personDeveloper.name">
<p class="message-error" [class.invalid]="nameDeveloperInput2.invalid">Este campo es requerido</p>
<!-- Modificar estilo de forma directa -->
<p>Nombre</p>
<input type="text" required #nameDeveloperInput3="ngModel" [(ngModel)]="personDeveloper.name">
<p [style.font-style]="nameDeveloperInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="Avatar de persona">
  </div>
</div>

<hr/>
<h2>Class & Style Hacker</h2>
<input type="text" required #nameHackerInput="ngModel" [(ngModel)]="personDeveloper.name">
<p class="password-message-error" [class.invalid]="nameHackerInput.invalid">Contraseña incompleta</p>
<!-- Modificar estilo de forma directa -->
<p>Name</p>
<input type="text" required #nameHackertInput2="ngModel" [(ngModel)]="personDeveloper.name">
<p [style.font-style]="nameHackertInput2.invalid ? 'italic' : 'normal'">Contrasenia</p>

<div class="style-test">
  <div>
    <input type="text" [(ngModel)]="widthImgTest">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="imgAvatarTest" alt="Img perfect">
  </div>
</div>



<hr/>
<h3>ngSwitch</h3>
<input type="text" [(ngModel)]="personDeveloper.name">
<div [ngSwitch]="personDeveloper.name">
  <p *ngSwitchCase="'Paul'">Soy Paul</p>
  <p *ngSwitchCase="'Carlos'">Soy Carlos</p>
  <p *ngSwitchCase="'Juanito'">Soy Juanito</p>
  <p *ngSwitchDefault>No soy desarrollador</p>
</div>

<hr/>
<h2>*ngFor with Object</h2>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="Imagen del producto">
    <h3>Product: {{product.name}}</h3>
    <p>Price: $.{{product.price}}</p>
  </div>
</div>


<hr/>
<h3>Practice-ngFor with models</h3>
<div class="files-grid">
  <div *ngFor="let model of models">
    <img [src]="model.img" alt="Imagen">
    <h3>Name:{{model.name}}</h3>
    <h4>Age: {{model.age}}</h4>
  </div>
</div>

<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>

<ul>
  <li *ngIf="names.length===0">No hay datos</li>
  <li *ngFor="let name of names; index as i">
    {{i+1}}. {{name}}
    <button (click)="delete(i)">Delete</button>
  </li>
</ul>
<hr/>

<h2>Prueba de datos Paul</h2>
<input type="text" required [(ngModel)]="newCurso">
<button (click)="addCurso()">Add Curso</button>
<ul>
  <li *ngFor="let curso of cursos; index as i">
    {{i+1}}. {{curso}}
    <button (click)="deleteCurso(i)">delete</button>
  </li>
</ul>
<hr/>

<h3>Practice - *ngIf</h3>
<input type="text" [(ngModel)]="personDeveloper.name">
<p *ngIf="personDeveloper.name==='Paul'; else ElseBlock ">Soy Paul</p>
<ng-template #ElseBlock>
  <p>Bloque de ELSE</p>
</ng-template>



<hr/>
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name"/>
<p *ngIf="person.name==='Paul'">Hi Paul</p>
<p *ngIf="person.name==='Carlos' && person.age===19; else myBlock">Soy  Carlos</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>



<hr/>
<h3>Practice - NgModel</h3>
<p>Name Developer: {{personDeveloper.name}}</p>
<p>
  Change Name: <input type="text" required #nameDeveloperInput="ngModel" [(ngModel)]="personDeveloper.name">
</p>
<p>Valid:{{nameDeveloperInput.valid}}</p>
<!-- Para años de experience -->
<p>Experience</p>
<p>Aumentar años de experience: <input max="30" min="15" required #experience="ngModel" type="number" [(ngModel)]="personDeveloper.experience"></p>
<p>Valid: {{experience.valid}}</p>


<hr/>
<h1>NgModel</h1>
<!-- NgModel, es una funcion entre el [] Property Binding y el () Event Binding-->
<p>Nombre {{person.name}}</p>
<!-- required #nameInput="ngModel" -> Se pone como un campo requerido y luego se valida con la variable #nameInput con esto
Valid: {{nameInput.valid}}-->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>

<!-- Para que person.age solo sea valido para 18 a 30 años -->
<p>Edad: {{person.age}}</p>
<input type="number" max="30" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid:{{ageInput.valid}}</p>


<hr/>
<h3>Practica-Eventos</h3>
<p>
  Datos: <input type="text" [disabled]="btnDisabledPractice">
  <button (click)="toogleButtonDeveloper()">Toogle Button</button>
</p>
<p>Experience: {{personDeveloper.experience}} <button (click)="incrementExperience()">Add Experience</button> </p>
<div class="boxDeveloper" (scroll)="onScrollDeveloper($event)">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti suscipit animi aspernatur distinctio assumenda, quos voluptas odio! Sapiente, rem, similique debitis molestias alias mollitia, exercitationem expedita nesciunt pariatur incidunt cum!</p>
</div>
<p>Nombre: {{personDeveloper.name}}</p>
<input type="text" [value]="personDeveloper.name" (keyup)="changedNameDeveloper($event)">

<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<!-- Event (Binding)->Se puede usar con (click) apara cuando se haga clic a un boton se cambia algo de acuerdo a una funcion -->
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age++</button>
<!-- (scroll) -> Es un evento -->
<!-- ($event) -> Los eventos se envia con $event -->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto praesentium repellat aut, vitae suscipit quia delectus itaque laboriosam quo quibusdam optio, ipsum eligendi nam non sapiente fuga alias quaerat excepturi.</p>
</div>
<!-- (keyup) -> Nos permite leer los elementos de un input, capturar cada vez que tecleamos en el input -->
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">


<hr/>
<h2>Practice 2 - Propiedades</h2>
<input type="text" [value]="personDeveloper.name">
<p>Experience</p>
0 años <progress max="20" [value]="personDeveloper.experience"></progress> 20 años
<img width="100" [src]="personDeveloper.avatar" alt="Imagen del developer 1">

<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<!-- Poner [] a las propiedades para obtener parametros -->
<input type="text" [value]="person.name"/>
<!-- <input type="text" value="person.name"/> -->

<!-- Barra de progreso -->
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar">


<!-- {{}}->Esto es String Interpolation sirve para agregar contenido cuando deseamos renderizarlo de alguna manera-->
<!-- []-> Esto es Property Binding para propiedades-->
<hr/>
<h1>Hola Mundo</h1>
<!-- Todo lo que esta dentro de {{}} se ejecutara -->
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3+3={{3+3}}</p>

<h3>Hola soy, {{name}} y tengo {{age}}</h3>
<img src={{img}} width="250" alt="image">

<hr/>
<h2>Hola Munda</h2>
<h3>{{'Hola munda'.substr(0,4)}}</h3>
<p>3*3={{3*3}}</p>
<h3>Hola soy {{namePrueba}} y soy {{professional}}</h3>
<img width="200" src={{icono}} alt="Icono de desarrollador">

<hr/>
